.my-style{
    height: 500px;
    border: 1px solid red;
}
.class-one{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 100px;
}

.class-two{
    height: 100px;
    width: 200px;
    background-color: green;
    border-radius: 100px 100px 0 0;
}

.class-three{
    height: 100px;
    width: 200px;
    background-color: blue;
    border-radius: 0 0 100px 100px;
}